<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Project Details</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <td th:text="${project.id}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${project.name}"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td th:text="${project.description}"></td>
        </tr>
    </table>
    <a th:href="@{/projects}" class="btn btn-primary">Back to Project List</a>
</div>
</body>
</html>
